---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/findByIngredients?apiKey=9d1fe3f6a5f2408dab327981527bdaae&ingredients=milk,%20eggs&number=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '1.1'
      X-Api-Quota-Used:
      - '127.38000000000025'
      X-Api-Quota-Left:
      - '22.61999999999975'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":715568,"title":"Chocolate Chip Cookies","image":"https://spoonacular.com/recipeImages/715568-312x231.jpg","imageType":"jpg","usedIngredientCount":2,"missedIngredientCount":3,"missedIngredients":[{"id":18371,"amount":2.0,"unit":"tsp","unitLong":"teaspoons","unitShort":"tsp","aisle":"Baking","name":"baking
        powder","original":"2 tsp baking powder","originalName":"baking powder","meta":[],"image":"https://spoonacular.com/cdn/ingredients_100x100/white-powder.jpg"},{"id":1145,"amount":1.0,"unit":"cup","unitLong":"cup","unitShort":"cup","aisle":"Milk,
        Eggs, Other Dairy","name":"unsalted butter","original":"1 cup softened unsalted
        butter","originalName":"softened unsalted butter","meta":["unsalted","softened"],"image":"https://spoonacular.com/cdn/ingredients_100x100/butter-sliced.jpg"},{"id":2050,"amount":2.5,"unit":"tsp","unitLong":"teaspoons","unitShort":"tsp","aisle":"Baking","name":"vanilla","original":"2
        1/2 tsp vanilla","originalName":"vanilla","meta":[],"image":"https://spoonacular.com/cdn/ingredients_100x100/vanilla-extract.jpg"}],"usedIngredients":[{"id":1123,"amount":2.0,"unit":"large","unitLong":"larges","unitShort":"large","aisle":"Milk,
        Eggs, Other Dairy","name":"eggs","original":"2 large eggs","originalName":"eggs","meta":[],"image":"https://spoonacular.com/cdn/ingredients_100x100/egg.png"},{"id":1102,"amount":10.0,"unit":"oz","unitLong":"ounces","unitShort":"oz","aisle":"Milk,
        Eggs, Other Dairy","name":"chocolate milk","original":"10 oz Montana Wild
        Huckleberry Milk Chocolate","originalName":"Montana Wild Huckleberry Milk
        Chocolate","meta":["wild"],"extendedName":"wild chocolate milk","image":"https://spoonacular.com/cdn/ingredients_100x100/chocolate-milk.jpg"}],"unusedIngredients":[],"likes":892},{"id":716363,"title":"Scotch
        Egg","image":"https://spoonacular.com/recipeImages/716363-312x231.jpg","imageType":"jpg","usedIngredientCount":2,"missedIngredientCount":3,"missedIngredients":[{"id":18079,"amount":2.0,"unit":"cups","unitLong":"cups","unitShort":"cup","aisle":"Pasta
        and Rice","name":"breadcrumbs","original":"2 cups of Dried Breadcrumbs","originalName":"Dried
        Breadcrumbs","meta":["dried"],"extendedName":"dried breadcrumbs","image":"https://spoonacular.com/[...]
