<style>
    .card-custom {
        background-color: MediumSeaGreen;
        width: 18rem;
        height: 20rem;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .rcorners1 {
        border-radius: 25px;
        background: #73AD21;
        padding: 20px;
        width: 200px;
        height: 150px;
    }
    .border-primary {
        border-color: black
    }
    .fb-items {
        background-color: lightgreen;
        font-size: 20px
    }
    .header{
        padding-top: 25px;
    }
    .border{
        padding-top: 25px;
    }
    .img{
        opacity: 0.85;
    }
    body, html {
        height: 100%;
    }

    .bg {
        /* The image used */
        background-image: url("https://wallpaperaccess.com/full/3662969.jpg");

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


    }
    .fixed{
        width:100%;
        height:2000px;
        background-image:url("https://wallpaperaccess.com/full/3662969.jpg");
        background-size:cover;
        background-attachment:fixed;
    }
</style>
<div class="fixed">
  <div class="container">
    <div class="row ">
      <br>
      <% @recipes.each do |recipe| %>
        <div class="col-lg-4">
          <div class="card-custom ">
            <center>
          <p><%= link_to "#{recipe.title}", recipe_path(recipe.id) %></p>
          <img src="<%= recipe.image %>" style="width:200px;height:230px" alt="Recipe Photo">
            </center>
          </div>
        </div>
      <% end %>
    </div><br>
  </div>
</div>
