<style>
    .card-custom {
        background-color: MediumSeaGreen;
    }
    .rcorners1 {
        border-radius: 25px;
        background: #73AD21;
        padding: 20px;
        width: 200px;
        height: 150px;
    }
    .border-primary {
        border-color: black
    }
    .fb-items {
        background-color: lightgreen;
        font-size: 20px
    }
    .header{
        padding-top: 25px;
    }
    .border{
        padding-top: 25px;
        background-color: lightgreen
    }
    .img{
        opacity: 0.85;
    }
    body, html {
        height: 100%;
    }

    .bg {
        /* The image used */
        background-image: url("https://wallpaperaccess.com/full/3662969.jpg");

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


    }
    .fixed{
        width:100%;
        height:2000px;
        background-image:url("https://wallpaperaccess.com/full/3662969.jpg");
        background-size:cover;
        background-attachment:fixed;
    }
</style>
<div class="fixed">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class = "card-custom">
    <center>
  <h2> Relevant Articles on Food Insecurity </h2>
  <div id= 'our_favourite_orgs'>
      <% @articles.each do |article|  %>
          <div id="article-<%= article.url %>">
              <%= link_to "#{article.date + " " + article.header}", "#{article.url}" %>
          </div>
      <% end %>
  </div>
  <br>
  <div id='our_favorite_orgs'>
      <%= button_to 'Donate to Feeding America', 'https://secure.feedingamerica.org/site/Donation2;jsessionid=00000000.app20020b?idb=398464444&df_id=26876&26876.donation=form1&mfc_pref=T&NONCE_TOKEN=405A2D075D7131E201CD40AEAB6F3E6C&s_channel=google&s_onsite_promo=MainNav_Donate&s_subsrc=https://www.feedingamerica.org/find-your-local-foodbank&s_src=W228ORGSC&26876_donation=form1&s_referrer=google&_ga=2.156830523.1065449981.1659383540-2069769676.1659383540', class: "btn btn-primary" %>
  </div>
  <br>
  <div id='our_favorite_news'>
       <%= link_to 'Food Bank News', 'https://foodbanknews.org/', class: "btn btn-primary" %>
  </div>
</div>
</div>
</center>
