nav {
    margin: 0;
    padding: 0;
    display: flex;
    position: flex;
    top: 0;
    width: 100%;
    list-style-type: none;
    overflow: auto;
    height: auto;
    background-color: rgb(208, 62, 9);
    display: inline-block;
}
.links {
    list-style-type: none;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    padding: 14px 16px;
    text-align: center;
    float: right;
    margin: 0;
    top: 0;
    padding: 0;
    position: sticky;
    width: 100%;
    float: right;
    border-left: 1px solid black;
    background-color: rgb(208, 62, 9);
}


.links:hover {
    background-color: whitesmoke;
    padding: 5px;
}

#left-links {
    flex: 1 1 200px;
}